.button{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
  font-weight: 500;

  padding: 0 2rem;

  cursor: pointer;
  border: 0;
  border-radius: 8px;

  color: #fff;
  background: var(--purple);

  transition: filter 0.2s;

  @media (max-width: 425px) {
    height: 40px;
  }

  @media (max-width: 375px) {
    height: 35px;
    padding: 0 1rem;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9)
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}