.button{
  height: 50px;

  font-size: 16px;
  font-weight: 500;

  padding: 0 32px;

  cursor: pointer;
  border: 0;
  border-radius: 8px;

  color: #fff;
  background: #835AFD;

  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(0.9)
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}