* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #29292E;
  --content: #f8f8f8;
  --gray: #737380;
  --purple: #835AFD;

  --primary-color: #fff;
  --secondary-color: #000;
  --background: #fefefe;
  --background-question-highlighted: #F4F0FF;
  --background-question-answered: #DBDCDD;
}

html {
  @media (max-width: 375px) {
    font-size: 93.75%; // 15px
  }
}

body {
  background: #f8f8f8;
  color: var(--text);
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}