* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #29292E;
  --gray: #737380;
  --purple: #835AFD;

  --background-question-highlighted: #F4F0FF;
  --background-question-answered: #DBDCDD;
  --background-container: #fefefe;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}