.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835AFD;
  
  display: flex;
  align-items: center;

  div {
    background: #835AFD;
    padding: 0 0.75rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0.75rem 1rem;

    font-size: 0.875rem;
    font-weight: 500;
  }
}