.pageRoom {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--border);

    .content {
      max-width: 1128px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 425px) {
        flex-direction: column;
        gap: 0.5rem;
      }

      > img {
        max-height: 45px;

        &:hover {
          cursor: pointer;
        }
      }

      > div {
        display: flex;
        gap: 1rem;

        :nth-child(2) {
          border: 0;
          color: var(--secondary-color);
          background: transparent;
        }
      }
    }

  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .roomTitle {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        padding: 0 2rem;
        gap: 0.5rem;
      }

      @media (max-width: 425px) {
        align-items: center;
        text-align: center;
      }

      h1 {
        font: 700 1.5rem 'Poppins', sans-serif;
        color: var(--text);
      }

      span {
        width: 120px;
        font: 500 0.875rem 'Roboto', sans-serif;
        padding: 0.5rem 1rem;
        border-radius: 50px;

        background: var(--pink);
        color: var(--content);
      }

      button {
        background: transparent;
        color: var(--secondary-color);
        border: 0;
      }
      
    }

    form {
      textarea {
        width: 100%;
        padding: 1rem;
        min-height: 130px;
        resize: vertical;

        border-radius: 0.5rem;
        border: 0;

        color: var(--secondary-color);
        background: var(--background-container);
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
      }

      .formFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        .userInfo {
          display: flex;
          align-items: center;

          img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5rem;
            color: var(--gray);
            font-weight: 500;
            font-size: 0.875rem;
          }

          button {
            font-size: 0.875rem;
            font-weight: 500;
            margin-left: 0.5rem;
            
            background:transparent;
            border: 0;

            color: var(--purple);
            text-decoration: underline;
          }
        }

        > span {
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--gray);

          button {
            font-size: 0.875rem;
            font-weight: 500;
            
            background:transparent;
            border: 0;

            color: var(--purple);
            text-decoration: underline;
          }
        }
      }

      @media (max-width: 768px) {
        padding: 0 2rem;
      }
    }

    .nothingQuestions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      max-width: 350px;
      margin: 0 auto;

      @media (max-width: 425px) {
        padding: 2rem 1rem;
      }

      img {
        width: 150px;
        height: 150px;

        margin-bottom: 1rem;
      }

      strong {
        font: 600 1.125rem 'Poppins', sans-serif;
        color: var(--text);
        margin-bottom: 0.5rem;
      }

      p {
        color: var(--gray);
        font-size: 0.875rem;
      }
    }

    .questionList {
      margin: 2rem 0;

      @media (max-width: 768px) {
        padding: 0 2rem;
      }
    }
  }
}