.pageRoom {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--border);

    .content {
      max-width: 1128px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 425px) {
        flex-direction: column;
        gap: 0.5rem;
      }

      > img {
        max-height: 45px;

        &:hover {
          cursor: pointer;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        > div {
          display: flex;
          gap: 1rem;
        }

        > button {
          color: var(--secondary-color);
          background: transparent;
          border: 0;
        }

        @media (max-width: 425px) {
          flex-direction: row;
          padding-top: 1rem;
  
          > button {
            position: absolute;
            top: 1rem;
            right: 1rem;
          }
        }
      }

      @media (max-width: 425px) {
        flex-direction: column;
        padding-top: 1rem;

        gap: 0.5rem;

        div {
          flex-direction: column;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .roomTitle {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        padding: 0 2rem;
        gap: 0.5rem;
      }

      @media (max-width: 425px) {
        align-items: center;
        text-align: center;
      }

      h1 {
        font: 700 1.5rem 'Poppins', sans-serif;
        color: var(--text);
      }

      span {
        width: 120px;
        font: 500 0.875rem 'Roboto', sans-serif;
        padding: 0.5rem 1rem;
        border-radius: 50px;

        background: var(--pink);
        color: var(--content);
      }

      button {
        background: transparent;
        color: var(--secondary-color);
        border: 0;
      }
    }
    .nothingQuestions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      max-width: 350px;
      margin: 0 auto;

      @media (max-width: 425px) {
        padding: 0 1rem;
      }

      img {
        width: 150px;
        height: 150px;

        margin-bottom: 1rem;
      }

      strong {
        font: 600 1.125rem 'Poppins', sans-serif;
        color: var(--text);
        margin-bottom: 0.5rem;
      }

      p {
        color: var(--gray);
        font-size: 0.875rem;
      }
    }

    .questionList {
      margin: 2rem 0;

      @media (max-width: 768px) {
        padding: 0 2rem;
      }
    }
  }
}

