.pageRoom {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--border);

    .content {
      max-width: 1128px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;


      > img {
        max-height: 45px;

        &:hover {
          cursor: pointer;
        }
      }

      div {
        display: flex;
        gap: 1rem;

        button {
          height: 40px;
          border: 1px solid var(--purple);
          
          color: var(--purple);
          background: var(--background-question-container);
        }
      }

      @media (max-width: 425px) {
        flex-direction: column;
        gap: 0.5rem;

        div {
          flex-direction: column;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .roomTitle {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        padding: 0 2rem;
      }

      @media (max-width: 425px) {
        flex-direction: row;
      }

      > div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
            
      @media (max-width: 320px) {
        > div {
          flex-direction: column;
        }
      }

      h1 {
        font: 700 1.5rem 'Poppins', sans-serif;
        color: var(--text);
      }

      span {
        font: 500 0.875rem 'Roboto', sans-serif;
        padding: 0.5rem 1rem;
        border-radius: 50px;

        background: var(--pink);
        color: var(--content);
      }

      button {
        background: transparent;
        color: var(--secondary-color);
        border: 0;
      }
    }

    .questionList {
      margin: 2rem 0;

      @media (max-width: 768px) {
        padding: 0 2rem;
      }
    }
  }
}

