.userProfile {
  display: flex;
  align-items: center;

  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  span {
    margin-right: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text);
  }

  button {
    font-size: 0.875rem;
    margin-right: 0.5rem;

    border: 0;
    border-radius: 50px;

    background: transparent;
    color: var(--pink);
  }
}