.userProfile {
  display: flex;
  align-items: center;

  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  span {
    margin-right: 0.5rem;
    color: var(--gray);
    font-weight: 500;
    font-size: 0.875rem;
  }

  button {
    margin-right: 0.5rem;

    border: 0;
    background: transparent;
    color: var(--purple);
  }
}