.pageAuth {
  display: flex;
  align-items: stretch;
  height: 100vh ;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 425px) {
   display: flex; 
  }

  aside {
    flex: 7;

    background: var(--purple);
    color: var(--content);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;


    @media (max-width: 768px) {
      padding: 1rem;
    }

    > button {
      position: absolute;
      top: 1rem;
      right: 1rem;

      border: 0;
      color: var(--secondary-color);
      background: transparent;
    }

    img {
      max-width: 320px;
    }

    strong {
      font: 700 2.25rem 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 1.5rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 32px;
      margin-top: 1rem;
      color: var(--content);
    }
  }

  main {
    flex: 8;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    text-align: center;

    aside {
      justify-content: center;
      align-items: center;
      height: 100vh;

      img {
        max-width: 160px;
      }
    }
  }

  @media (max-width: 425px) {
    flex-direction: column;

    aside {
      min-height: 100vh;
    }

  }

  @media (max-width: 375px) {
    aside {
      gap: 1rem;
      padding: 3.5rem 2rem;
    }
  }
  
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;

  @media (max-width: 425px) {
    height: 100vh;
    justify-content: center;
  }

  > img {
    align-self: center;
  }

  h2 {
    font: 700 1.5rem 'Poppins', sans-serif;
    line-height: 2.25rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  form {
    input {
      height: 50px;
      border-radius: 8px;
      padding: 0 1rem;

      color: var(--text);
      background: var(--background);
      border: 1px solid var(--border-details); 
    }

    button {
      margin-top: 1rem;
    }

    button, input {
      width: 100%;
    }
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    line-height: 16px;
    color: var(--gray);

    margin-top: 0.5rem;
  }

  a {
    color: var(--pink);
  }

  @media (max-width: 768px) {
    p {
      margin-top: 0.5rem;
    }
  }
}

